:root{
  /*colors*/
  --white: #f7f6f2;
  --soft-silver: #6a7d8b;
  --desaturated-yellow: #ede3d2;
  --champagne: #c2a878;

  /*decoration*/
  --shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
  --heavy: 700;
  --lighteen: 400;
}